*{
    color: #edf0f1;
    font-family: sans-serif;
}

body{
    background: linear-gradient(rgba(68, 76, 87, 0.6),rgba(0,0,0,0.6)),url(image/img.png);
    height: 100vh;
    -webkit-background-size:cover;
    background-size:cover ;
    position: relative;
}


li,a{
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
}
header{
    display: flex;
    justify-content: flex-end;/* Éléments flexibles groupés à la fin */
    align-items: center;
    padding: 10px 50px 20px;
}
.logo{
    cursor: pointer;
    margin-right: auto;     
}
.nav_links{
    list-style: none;
}
.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a:hover{
    transition: all 0.3s ease 0s;
    color: rgb(4, 126, 89);  
}
.ligne{
    width:95%

}

.text{
   
    margin: 0;
    text-align: center;
    padding: 100px 50px 20px;/*100px ecart en haut*/   
}

.content{
    display: flex;
    justify-content: space-around;/*L'espace utilisé entre chaque élément est le même.*/ 
    text-align: center;   
}
.content span {
    color: rgb(4, 126, 89);   
    font-size: 30px;
}
.mylignevertical{
    border-right: 2px solid white;
}

.btn{
   position: absolute;
   top: 80%;
   left: 42%;
   background-color: rgb(18, 18, 19);
   width: 210px;
   height: 50px;
   font-size: 15px;   
   cursor: pointer;
   background-color: transparent;
   border: 3px solid #0d925f;
   color: #0d925f;
   border-radius: 40px;
}