*{
    box-sizing: border-box;
    color: #edf0f1;
    font-family: "Monserrat",sans-serif;
}

body{
    
    background: linear-gradient(rgba(68, 76, 87, 0.6),rgba(0,0,0,0.6)),url(image/img.png);
    height: 100vh;
    -webkit-background-size:cover;
    background-size:cover ;
    background-position: center center;
    position: relative;
}


li,a{
   
    font-weight: 500;
    font-size: 16px;
   
    text-decoration: none;
}
header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 40px 30px;
}
.logo{
    cursor: pointer;
    margin-right: auto;
    
}
.nav_links{
    list-style: none;
}
.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a{
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
    transition: all 0.3s ease 0s;
    color: #0088a9;
}
.ligne{
    display: flex;
    margin: 5;
}
.text{
    margin: 0;
    text-align: center;
    padding-top: 80px;

}

.icon{
    border-right: 0px;
    display: flex;
    justify-content: space-around;
}
.list{
    border-right: 0px;
    display: flex;
  justify-content: space-around;
}

.sous_list{
    border-right: 0px;
    display: flex;
    justify-content: space-around;
}


.icon li{
    padding-top: 200px;
    display: inline-block;
    padding: 5px 62px;
    color: rgb(4, 126, 89); 
    
    
}

.list li{
    display: inline-block;
    padding: 0px 20px;
    flex-direction: column;
   
    
}
.sous_list li{
    display: inline-block;
    padding: 0px 15px;
   
    
}

.text button{
  
    padding: 15px 40px;
    background-color: rgb(4, 126, 89);
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

button:hover{
    background-color: rgb(67, 85, 67);
}
